.info {
	font-size: 13px;
	font-style: italic;
}

.table-center {
	margin: auto;
	margin-top: 20px;
}

/*ROWS COLUMNS*/
.td-column {
	border: 1px solid #2e4053;
	width: 62px;
	height: 62px;
}

.td-column-sm {
	border: 1px solid #2e4053;
	width: 27px;
	height: 27px;
}

/* TABLE */
.table {
	overflow: auto;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	padding: 8px 1px 8px 8px;
	line-height: 1;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

.table > thead > tr > td,
.table > thead > tr > th {
	padding: 8px 8px;
}

.gvDefaultResult > tbody > tr > td {
	text-align: center;
}

.table > tbody > tr.success > td,
.table > tbody > tr.success > th,
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tfoot > tr.success > td,
.table > tfoot > tr.success > th,
.table > tfoot > tr > td.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > thead > tr.success > th,
.table > thead > tr > td.success,
.table > thead > tr > th.success {
	background-color: inherit !important;
	color: #00a65a;
	text-align: center;
}

.table > tbody > tr.success_action > td {
	background-color: #dff0d8 !important;
	color: #00a65a;
	text-align: center;
}

.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th,
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr.danger > td,
.table > tfoot > tr.danger > th,
.table > tfoot > tr > td.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > thead > tr.danger > th,
.table > thead > tr > td.danger,
.table > thead > tr > th.danger {
	background-color: inherit;
	color: #fb002c;
	text-decoration: line-through;
	text-align: center;
}

.box {
	border-top: 3px solid #72cec6;
}

.modal-header .box-header {
	color: #444;
	display: block;
	padding: 0px;
	position: relative;
	margin: 10px;
}

.table > tbody > tr.dangerlight > td,
.table > tbody > tr.dangerlight > th,
.table > tbody > tr > td.dangerlight,
.table > tbody > tr > th.dangerlight,
.table > tfoot > tr.dangerlight > td,
.table > tfoot > tr.dangerlight > th,
.table > tfoot > tr > td.dangerlight,
.table > tfoot > tr > th.dangerlight,
.table > thead > tr.dangerlight > td,
.table > thead > tr.dangerlight > th,
.table > thead > tr > td.dangerlight,
.table > thead > tr > th.dangerlight {
	background-color: inherit !important;
	color: #e08091;
	/*text-decoration: line-through; */
}

.table-condensed td {
	text-align: left;
	border-top: 1px solid #ffffff !important;
}

.table-condensed th {
	text-align: right;
	border-top: 1px solid #ffffff !important;
	width: 35%;
}

.not-set {
	color: #ffc0cb;
}

.dataTables_wrapper > .row {
	margin-right: 0px;
	margin-left: 0px;
}

.dataTables_wrapper > .row > .col-sm-12 {
	overflow-x: auto;
	padding-right: 0px;
	padding-left: 0px;
}

.row > .col-md-12 > div {
	overflow-x: auto;
	padding-right: 0px;
	padding-left: 0px;
}

.gridView {
	overflow-x: auto;
}

/*SWITCH BUTTONS*/
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* ROUNDED SLIDERS */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/*MODAL*/

.modal-xs {
	min-width: 500px !important;
}

.modal-sm {
	width: 45% !important;
	min-width: 600px !important;
}

.modal-mm {
	width: 65% !important;
	min-width: 700px !important;
}

.modal-lg {
	width: 85% !important;
	min-width: 800px !important;
}

.modal-xl {
	width: 95% !important;
	/* min-width: 900px !important; */
	min-width: 1150px !important;
}

#divRequestProcessDetail {
	display: none;
}

/*ALERT*/

.alert-success {
	color: #3c763d !important;
	background-color: #dff0d8 !important;
	border-color: #d6e9c6 !important;
}

.alert-danger {
	color: #a94442 !important;
	background-color: #f2dede !important;
	border-color: #ebccd1 !important;
}

.alert-warning {
	color: #8a6d3b !important;
	background-color: #fcf8e3 !important;
	border-color: #faebcc !important;
}

.alert-info {
	color: #31708f !important;
	background-color: #d9edf7 !important;
	border-color: #bce8f1 !important;
}

.chat .item > .attachment {
	border-radius: 3px;
	background: #f4f4f4;
	margin-left: 65px;
	margin-right: 15px;
	padding: 10px;
}

/*CHECK BOX LIST*/

.cbxStyle {
	width: 80%;
}

.cbxStyle label {
	float: left !important;
	white-space: nowrap;
	font-size: 85%;
	color: #777;
}

.cbxStyle label input {
	float: left;
	margin: auto;
	margin-right: 5px;
}

.cbxStyle label input {
	float: left;
	margin: auto;
	margin-right: 5px;
}

.cbxlStyle {
	width: 100%;
}

.cbxlStyle > fieldset > div > div {
	white-space: nowrap;
}

.cbxStyle > input {
	vertical-align: middle;
	margin-top: 0px;
}

label > input {
	vertical-align: middle;
	margin: 0px !important;
}

/*ATTACHMENT*/

.attachment {
	border-radius: 3px;
	background: #f4f4f4;
	padding: 10px;
	height: 484px;
	overflow-y: auto;
}

.attachment > hr {
	margin-top: 2px;
	margin-bottom: 2px;
	border: 0;
	border-top: 1px solid #aaa;
}
.attachment > mark {
	background-color: #ffb8b8;
}

/*GROUPBOX*/

legend.groupbox-border {
	font-weight: bold !important;
	text-align: left !important;
	width: auto;
	padding: 0px 10px 0px 10px;
	border-bottom: none;
	margin-bottom: 0px !important;
}

fieldset.groupbox-border {
	border: 1px groove #fff !important;
	padding: 4px !important;
	margin: 1px !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
	/* min-height: 330px; */
}

.small-padding {
	padding-left: 4px;
	padding-right: 4px;
}

thead > tr > th {
	text-align: center;
}

.td-yellow {
	color: #fff !important;
	background-color: #f39c12 !important;
	border-radius: 0.25em;
	padding: 0.2em 0.6em 0.3em;
}

.td-green {
	color: #fff !important;
	background-color: #00a65a !important;
	border-radius: 0.25em;
	padding: 0.2em 0.6em 0.3em;
}

.td-red {
	color: #fff !important;
	background-color: #dd4b39 !important;
	border-radius: 0.25em;
	padding: 0.2em 0.6em 0.3em;
}

.td-blue {
	color: #fff !important;
	background-color: #3c8dbc !important;
	border-radius: 0.25em;
	padding: 0.2em 0.6em 0.3em;
}

.td-CHECKING {
	color: #fff !important;
	background-color: #f39c12 !important;
	border-radius: 0.25em;
	padding: 0.2em 0.6em 0.3em;
}

.td-FINISHED {
	color: #fff !important;
	background-color: #00a65a !important;
	border-radius: 0.25em;
	padding: 0.2em 0.6em 0.3em;
}

.td-PENDING {
	color: #fff !important;
	background-color: #dd4b39 !important;
	border-radius: 0.25em;
	padding: 0.2em 0.6em 0.3em;
}

.td-PROCESSING {
	color: #fff !important;
	background-color: #3c8dbc !important;
	border-radius: 0.25em;
	padding: 0.2em 0.6em 0.3em;
}

.td-positive {
	color: #fff !important;
	background-color: #dd4b39 !important;
	border-radius: 0.25em;
	padding: 0.2em 0.6em 0.3em;
}

.td-negative {
	color: #fff !important;
	background-color: #00a65a !important;
	border-radius: 0.25em;
	padding: 0.2em 0.6em 0.3em;
}

.td-doubt {
	color: #fff !important;
	background-color: #f39c12 !important;
	border-radius: 0.25em;
	padding: 0.2em 0.6em 0.3em;
}
.background {
	background-color: #ecf0f5;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
	border-color: transparent;
}

/*CLASS CONTROL RESULTS EMPTY*/
.info_cell {
	text-align: center;
}

.cell_class {
	text-align: center;
	border-radius: 4px;
	border: 1px solid #566573;
	width: 50px;
	height: 50px;
	margin: auto;
	font-size: 9px;
}

.result_cell_class {
	text-align: center;
	border-radius: 4px;
	border: 1px solid #566573;
	width: 50px;
	height: 50px;
	margin: auto;
	font-size: 9px;
}

.control_cell_class {
	text-align: center;
	border-radius: 4px;
	border: 1px solid #566573;
	width: 50px;
	height: 50px;
	margin: auto;
	font-size: 9px;
	background-color: #5bc0de;
}

.empty_cell_class {
	text-align: center;
	border-radius: 4px;
	border: 1px solid #566573;
	width: 50px;
	height: 50px;
	margin: auto;
	font-size: 9px;
	background-color: #eee;
}

/* POSITIVE NEGATIVE DOUBT */

.negative {
	background-color: #d0e9c6;
	color: #5cb85c;
}

.doubt {
	background-color: #faf2cc;
	color: #f0ad4e;
}

.positive {
	background-color: #ebcccc;
	color: #d9534f;
}

.quantitative {
	background-color: #e8f8f5;
}
/* CONTROL */
.control-negative {
	background-color: #d0e9c6;
	border: 2px solid #5cb85c;
}

.control-doubt {
	background-color: #faf2cc;
	border: 2px solid #f0ad4e;
}

.control-positive {
	background-color: #ebcccc;
	border: 2px solid #d9534f;
}

.control-buffer {
	background-color: #faf2cc;
	border: 2px solid #f0ad4e;
}
/* CELLS */
.span-cell-code {
	font-size: 1.5em;
	overflow-wrap: break-word;
	font-weight: bold;
}

.span-cell-result {
	font-weight: bold;
}

.span-cell-position {
	float: left !important;
	margin-left: 5px;
}
/*TABLE ABSORBANCE*/
.table-absorbance {
	margin: auto;
	border: 1px solid #aaa;
}

.table-absorbance th {
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	background-color: #f1f1f1;
	width: 60px;
}

.table-absorbance > tbody > tr > td {
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
}

.table-absorbance > tbody > tr > .td0 {
	background-color: #f1f1f1;
}
